body {
    margin: 0;
    align-content: center;
    display: block;
    align-items: center;
    text-align: center;
}

#nav {
    border: 1px solid #F5E050;
    margin: 0;
    background-color: #F5E050;
    color: #0C457A;
    padding-bottom: 1em;
    width: 100%;
}

h1 {
    margin-bottom: 0;
    background-color: #F5E050;
    color: #0C457A;
}

img {
    width: auto;
}

#english-box {
    display: block;
    margin: 0 auto;
    width: 300px;
    display: block;
    margin: auto;
    color: #0C457A;
}

#minion-box {
    width: 300px;
    display: block;
    margin: auto;
    color: #0C457A;
}

#minionese {
    border: 3px solid #0C457A;
    color: #0C457A;
    border-radius: 10px;
    width: 280px;
    padding: 0.2em;
    padding-top: 1em;
    height: 10vh;
    display: block;
    margin: auto;
    text-align: left;
    background-color: white;
}

h4 {
    margin: 5px;
}

textarea {
    width: 280px;
    height: 10vh;
    padding: 0.2em;
    padding-top: 1em;
    border: 3px #0C457A;
    color: #0C457A;
    border-radius: 10px;
    border-style: ridge;
    display: block;
    margin: 0 auto;
}

#btn-translate {
    display: block;
    margin: auto;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding: 1em;
    width: 100px;
    background-color: #F5E050;
    color: #0C457A;
    font-weight: bold;
    border: 3px solid #0C457A;
    font-family: 'Times New Roman', Times, serif;
}

#btn-translate:hover {
    box-shadow: 0 10px 10px 0px #0C457A;
}